numpy==1.24.1
scipy==1.11.4
networkx==3.0
matplotlib==3.10.0
torch==2.0.0+cu118
torch-geometric==2.6.1
gymnasium==0.28.1
scikit-learn==1.4.2
pandas==2.1.1
tqdm==4.65.0
tensorboard==2.19.0
PyMetis==2023.1.1
psutil==5.9.0